<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.greenguide.dlsu.greenguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DeanMessage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Navigation"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LpepSchedule"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Home" />
        <activity
            android:name=".LasallianHymn"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LasallianPledge"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LasallianCheers"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AroundDLSU" />
        <activity
            android:name=".ArrowsExpress"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Photocopy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Csoexecom"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Parking"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Wifi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Printing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EatingPlaces"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Supplies"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ValuesPrayers"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutUsg"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutCso"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Usgexecom"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProgramsServices"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Organizations"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Tips"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Developers"></activity>
    </application>

</manifest>